<!DOCTYPE html>
<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="8u 12u$(medium)">
        <ul class="copyright">
          <li>Copyrights &copy; 2021 <a href="http://sites.psu.edu/mgso">MGSO</a>. All rights reserved.</li>
        </ul>
      </div>
      <div class="4u$ 12u$(medium)">
        <ul class="icons">
          <li> <a class="icon fa-facebook" href="https://www.facebook.com/mgso.psu"><span class="label">Facebook</span></a> </li>
          <li> <a href="https://chat.whatsapp.com/E1zsVP8nO139CXeHOcZngB" class="icon fa-whatsapp"><span class="label">WhatsApp</span></a> </li>
          <li> <a href="mailto:mgso.pennstate@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a> </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
