<!DOCTYPE HTML>
<!-- Header -->
<header id="header">
	<nav id="nav">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="index.html#about_us">About Us</a></li>
			<li><a href="resources.html">Resources</a></li>
			<li><a href="gallery.html">Gallery</a></li>
			<li><a href="index.html#contact_us">Contact Us</a></li>
			<li><a href="https://www.facebook.com/mgso.psu" class="icon fa-facebook"></a></li>
			<li><a href="https://chat.whatsapp.com/E1zsVP8nO139CXeHOcZngB" class="icon fa-whatsapp"></a></li>
			<li><a href="mailto:mgso.pennstate@gmail.com" class="icon fa-envelope"></a></li>
			<li><a href="https://pennstate.qualtrics.com/jfe/form/SV_3wqBBqsdA1Th66O" class="button special">Join us!</a></li>  
		</ul>
	</nav>
</header>